# bash-ql
bash-ql/scripts/bash/header.csv

# Data Synchronization Pipeline 
eu-db-migration/dotenv
eu-db-migration/film-db-dump.sql

# New York Time ELT Pipeline
newyorktimes-elt/dotenv
newyorktimes-elt/dbt/nyt_project/models/example
newyorktimes-elt/dbt/logs
newyorktimes-elt/dbt/nyt_project/logs
newyorktimes-elt/dbt/nyt_project/target
newyorktimes-elt/dbt/nyt_project/.gitignore
newyorktimes-elt/dbt/nyt_project/**/*.gitkeep

# Wikipedia Pageviews
wikipedia-pageviews/scripts/__pycache__
wikipedia-pageviews/viewzone/*
!wikipedia-pageviews/viewzone/*filtered.txt*

# Superstore Data Modelling
superstore_modelling/airflow/.dbt
superstore_modelling/dbt/dbt_project/**/*.gitkeep
superstore_modelling/dbt/dbt_project/target/
superstore_modelling/dbt/dbt_project/dbt_packages/
superstore_modelling/dbt/dbt_project/logs/
superstore_modelling/dbt/dbt_project/.gitignore
superstore_modelling/dbt/dbt_project/README.md
superstore_modelling/dbt/logs